<header>Late or Early, at least you'll arrive in style.</header>


<div class="wheels">
{{#each cars as |car|}}

<section class="card">
    <img src="{{car.imageSrc}}" alt="{{car.make}} {{car.model}}">
   <h2> {{car.make}} {{car.model}}</h2> 
   <h2>{{car.year}}</h2>
   <p><strong>${{car.price}}/day</strong></p>
    <div class="availability-dot 
    {{#if car.availability}}
    green
    {{else}}
    red
    {{/if}}">
    </div>
      <p>
        {{#if car.availability}}
        Available
        {{else}}
        Not Available
        {{/if}}
        </p>
  
</section>

{{/each}}

</div>
