<header>Late or Early, at least you'll arrive in style.</header>

{{!--something is not working here--}}
{{!-- <div class="wheels">
<section class="card">
    <img src="{{car.imageSrc}}" alt="{{car.make}} {{car.model}}">
   <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
   <p>{{car.price}}</p>
   <p>{{car.availability}}</p>
</section>

</div> --}}
    <div class="wheels">
                <section class="card">
                  <h1>Built For Speed</h1>
                  <img src="/images/Porsche 911.jpeg" alt="{{car.make}} {{car.model}}"/>
                  <h2>{{car.make}} {{year}} {{car.model}}</h2> 
                  <p>{{car.availability}}</p>
                </section>
                <section class="card">
                  <h1>Convertibles</h1>
                  <img src="/images/VW Beetle.jpeg" alt="{{car.make}} {{car.model}}"/>
                  <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
                  <p>{{car.availability}}</p>
                </section>
                <section class="card">
                  <h1>Electrics</h1>
                  <img src="/images/Hyndai Ioniq 5 SE.jpeg" alt="{{car.make}} {{car.model}}"/>
                  <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
                  <p>{{car.availability}}</p>
                </section>
                <section class="card">
                  <h1>Hatch-Backs</h1>
                  <img src="/images/Kia Rio.jpeg" alt="{{car.make}} {{car.model}}"/>
                  <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
                  <p>{{car.availability}}</p>
                </section>
                <section class="card">
                  <h1>Sedans</h1>
                  <img src="/images/Toyota Camry.jpeg" alt="{{car.make}} {{car.model}}"/>
                  <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
                  <p>{{car.availability}}</p>
                </section>
                <section class="card">
                  <h1>SUVs</h1>
                  <img src="/images/Toyota Rav4.jpeg" alt="{{car.make}} {{car.model}}"/>
                  <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
                  <p>{{car.availability}}</p>
                </section>
                <section class="card">
                  <h1>Trucks/Bakkie</h1>
                  <img src="/images/Toyota Tundra.jpeg" alt="{{car.make}} {{car.model}}"/>
                  <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
                  <p>{{car.availability}}</p>
                </section>
                <section class="card">
                  <h1>Vans</h1>
                  <img src="/images/Chrysler Pacifica Plug-In Hybrid.jpeg" alt="{{car.make}} {{car.model}}"/>
                  <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
                  <p>{{car.availability}}</p>
                </section>
    </div>