<header>Late or Early, at least you'll arrive in style.</header>

<div class="wheels">

{{#each cars as |car|}}

<section class="card">
    <img src="{{car.imageSrc}}" alt="{{car.make}} {{car.model}}">
   <h2>{{car.year}} {{car.make}} {{car.model}}</h2> 
   <p>{{car.price}}</p>
   <p>{{car.availability}}</p>
</section>

{{/each}}
</div>